{% extends 'JessicaPortfolioWebBundle:Default:index.html.twig' %}

{% block styles %}
    {#<style>
        body {
            padding-top: 60px;
            padding-bottom: 20px;
        }
    </style>#}
{% endblock %}
{% block nav %}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>{{ contact.firstName }} {{ contact.lastName }}</h1>
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('profiles') }}/{{ user.username }}/{{ profile.url }}">{{ contact.firstName }} {{ contact.lastName }}</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            {# <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li> #}
                            {#<li><a href="#">Link</a></li> #}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    {% for section in sections %}
                                        {% if active.slug == section.slug %}
                                            <li class="active"><a href="{{ path('profiles') }}/{{ user.username }}/{{ profile.url }}/{{ section.slug }}">{{ section.name }}</a></li>
                                        {% else %}
                                            <li><a href="{{ path('profiles') }}/{{ user.username }}/{{ profile.url }}/{{ section.slug }}">{{ section.name }}</a></li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a data-toggle="collapse" href="#contactDetails" aria-expanded="false" aria-controls="contactDetails">Contact Details</a></li>
                            <li><a href="#">&nbsp;</a></li>
                        </ul>

                        {#<ul class="nav navbar-nav navbar-right">
                            <li><a href="#">Link</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>#}
                    </div><!-- /.navbar-collapse -->
                </div>
            </nav>
            <div class="collapse" id="contactDetails">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Information</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>Name: </th><td>{{ contact.firstName }} {{ contact.lastName }}</td>
                                </tr>
                                <tr>
                                    <th>Email: </th><td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                                </tr>
                                <tr>
                                    <th>Mobile: </th><td>{{ contact.mobile }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
